*{
    color: brown;
    background-color: burlywood;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    fon
}

git config --global user.email "overcomerrichard23@gmail.com"
git config --global user.name "Overcomer25"